.app {
    text-align: center;
    padding-top: 100px;
}

.player-names {
    margin-left: auto;
    margin-right: auto;
}

.refresh-button {
    margin-bottom: 25px;
}

input.player-name-input {
    text-align: center;
}

.hero-image {
    margin-top: 25px;
}

.app-title {
    margin-bottom: 30px;
}